@import "variable.scss";
@import "bootstrap-override.scss";

// Setting blok container fluid, jumbotron, dll
// agar berwarna kuning
.yellow {
	background-color: $yellow;
}

// Setting blok container fluid, jumbotron, dll
// agar berwarna putih
.white {
  background-color: #FFFFFF;
}

// ----------------------------
// Main header untuk menu utama
// ----------------------------
.row.header {
	padding: 30px 0px 0px 0px;
	
  @media (min-width: 768px) {
    .top-sosmed {
      text-align: right;

      img {
        margin: 0 5px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .top-sosmed {
      text-align: center;
      margin-top: 10px;
    }
  }
}

.row.menu {
  a {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.navbar-yelloow {

  & > li:not(:last-child) {

   /*  background-image: url("../img/dot.png");
    background-repeat: no-repeat;
    background-position: right center;
 */
    & > a {
      // padding: 10px 20px 10px 10px;
      padding: 15px 0px 0px 0px;
      margin: 0 15px;

      &:hover {
        color: $yellow;
      }
    }
  }

  & > li:last-child {
    & > a {
      // padding: 10px 20px 10px 10px;

      &:hover {
        color: $yellow;
      }
    }
  }

  & > .active:not(:last-child) {
    & > a {
        /* background-image: url("../img/dot.png");
        background-repeat: no-repeat;
        background-position: right center; */
        background-color: #FFFFFF !important; 

        color: $yellow;
        border-bottom: 5px solid $yellow;

      &:hover {
        color: $yellow;
      }
    }
  }
}



// ---------------------------------------
// Untuk konten yang mempunyai blok putih
// Semua halaman memilikinya
// ---------------------------------------
.content {
  padding: 40px 0 100px 0;

  & > .row:not(:first-child) {
    margin-top: 90px;
  }

  // Konten yang memiliki satu kolom saja
  .row.single-column {

    // Untuk title yang bergaris bawah
    // dipasangkan dengan columns
    & > .title {

      margin-bottom: 30px;

      img {

      }

      h2 {
        text-align: center;
        color: $black;
        border-bottom: 7px solid $yellow;
        display: table;
        margin: 0 auto;
        padding: 5px 0;
        font-weight: bold;
      }
    }

    .btn {
      margin-top: 40px;
    }

    h4 {
      line-height: 1.4;
    }
  }

  // Konten yang memiliki dua kolom saja
  .double-columns {

    .col-sm-6 {
      &:nth-child(odd) {
        padding-right: 30px;
      }

      &:nth-child(even) {
        padding-left: 30px;
      }
    }

     
    /* ul.voor-wie {

      li:not(:last-child) {
        border-bottom: 1px solid $yellow;
      }

      li {
        color: $blue;
        font-weight: bold;
        font-size: 15px;
        background-image: url('../img/right-arrow.png');
        background-repeat: no-repeat;
        background-position: left center;
        text-transform: uppercase;
        padding: 15px 0 15px 40px;
      }
    } */
  }

  .triple-columns {

  }

  /* .black-box {
    &.logo {
      margin-top: 100px;
    }

    &.text {
      margin-top: 60px;
    }
  } */
}

// ---------------------
// Halaman home pertama
// ---------------------

.carousel-yelloow {
  & > .carousel-inner {
    & > .item {
      height: 500px;

      img {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      @media (min-width: 768px) {
        img {
          bottom: -65px;
        }
      }

      @media screen and (max-width: 767px) {
        img {
          bottom: -40px;
        }
      }
    }
  }

  & > .text {

    color: $black;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;

    h2 {

      font-weight: bold;
      line-height: 1.1;
      margin: 8px 0px;

    }
  }
}




.content-fluid {
  position:relative;
  .btn-arrow {
    position: absolute;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    top: -30px;
  }
}

.voorwie-submenu {
  .row {
    padding: 40px 0;
    color: $black;

    h4 {
      font-weight: bold;
      text-align: center;
    }
  }
}

.leidinggevenden,
.team,
.professional,
.graves,
.drijfveren {

  .btn {
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

.troubleshoot {
  h2 {
    font-weight: bold;
    border-bottom: 7px solid #FFFFFF;
    display: table;
    margin: 0 auto 50px auto;
    padding: 0 0 8px 0;
  }
}

.graves {
  img {
    margin-top: 70px;
    margin-bottom: 100px;

  }
}

.drijfveren {
  & > .col-sm-12 {

    @media (min-width: 768px) {

      & > .row:not(:first-child) {
        margin-bottom: 100px;
      }
    }

    .row {
      
      

      .text-center {


        h4 {
          font-weight: bold;
          margin: 20px 0;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {

    .two-columns {
     
    }
  }

  @media screen and (max-width: 767px) {
    .row > .text-center {
      padding-bottom: 40px;
    } 
  }
}

.img-full-width {

  padding: 0px;

   @media (min-width: 992px) {

    & > .image {
      height: 600px;
      overflow: hidden;
      
      img {
        width: 100%;

      }
    }
  }

  @media (min-width: 1200px) {

    & > .image {
      height: 640px;
      overflow: hidden;
      
      img {
        width: 100%;

      }
    }
  }

  .text {
    padding: 40px 0;
  }
}

// --------------------
// Styling untuk footer
// --------------------
.footer {
  padding-top: 25px;

  .sosmed {
    margin-bottom: 30px;

    a {
      &:first-child {
        margin-right: 20px;
      }

      &:last-child {
        margin-left: 20px;
      }
    }
  }

  .address {
    font-weight: 700;
  }

  .phone {
    a {
      font-weight: 700;
      color: $blue;

      @media (min-width: 768px) {
        &:first-child {
          margin-right: 20px;
        }

        &:last-child {
          margin-left: 20px;
        }
      }
    }

    @media screen and (max-width: 767px) {
      a {

        display: block;
      }
    }
  }

  .copyright {
    font-weight: 700;
    font-size: 11px;
  }
}